<div class="dashboard">
    <div class="drawr"> 
        <ul>
            <li>
                <a href="">Get Access to Database</a>
            </li>
            <li>
                Import Data
            </li>
            <li>
                Calnder
            </li>
            <li>
                Send Mass Mails
            </li>
            <li>
                Chats and Calls
            </li><li>
                Tasks
            </li>
            <li>
                Share Database
            </li>
        </ul>

    </div>
    <div class="maine">
    <div class="main">
<div class="dash">
    <h3>Dashboard</h3>
</div>
<div class="user">
    <h4>Username</h4>
</div>

    </div>

    <div class="card">
        
<mat-card class="example-card">
    <mat-card-header>
     
      <mat-card-title ><p class="sumray">Summary of the BD Effort</p></mat-card-title>
      
    </mat-card-header>
    <mat-card-content>
     <div class="content">
         <div class="left">
          <div class="content" style="border-bottom: 1px solid lightgray;"> 
              <div class="left" >
<p>Identified</p>
              </div>
              <div class="right" style="margin-left: 50%;" >
<p>1661</p>
              </div>
          </div>
 </div>
         <div class="right" style="margin-left: 20px;" >
          <div class="content" style="border-bottom: 1px solid lightgray;"> 
              <div class="left">
<p>Calvating</p>
              </div>
              <div class="right" style="margin-left: 50%;">
<p>23</p>
              </div>
          </div>
         </div>
         
     </div>

     <div class="content" style="margin-top:20px">
        <div class="left">
         <div class="content" style="border-bottom: 1px solid lightgray;"> 
             <div class="left" >
<p>Qulified</p>
             </div>
             <div class="right" style="margin-left: 50%;" >
<p>190</p>
             </div>
         </div>
</div>
        <div class="right" style="margin-left: 20px;" >
         <div class="content" style="border-bottom: 1px solid lightgray;"> 
             <div class="left">
<p>Reaped</p>
             </div>
             <div class="right" style="margin-left: 50%;">
<p>13</p>
             </div>
         </div>
        </div>
        
    </div>

    <div class="content" style="margin-top:20px">
        <div class="left">
         <div class="content" > 
             <div class="left" >
<p>Sowed</p>
             </div>
             <div class="right" style="margin-left: 50%;" >
<p>74</p>
             </div>
         </div>
</div>
        <div class="right" style="margin-left: 20px;" >
         <div class="content"> 
             <div class="left">
<p>Clients</p>
             </div>
             <div class="right" style="margin-left: 50%;">
<p>8</p>
             </div>
         </div>
        </div>
        
    </div>

    </mat-card-content>
  
  </mat-card>
    </div>
</div>
</div>
