
<div class="loginStyle">
<form class="example-form">
   <h2 class="heading">Welcome to US ang Canadian DBMS</h2>
   <p class="para">(Please enter the username and password)</p>
  
    <div>
<div>
  <mat-form-field class="example-full-width" floatLable="never" appearance ="outline">
    <!-- <mat-label >User Name</mat-label> -->
    <input matInput placeholder="User Name" >
  </mat-form-field>
</div>
<div>
  <mat-form-field class="example-full-width" floatLable="never" appearance ="outline">
    <!-- <mat-label >Password</mat-label> -->
    <input matInput placeholder="Password" >
  </mat-form-field>
</div>
<div class="forgot">
  <a href="">Forgot Password</a>
</div>
<div>
  <button mat-flat-button color="primary" class="button" type="submit">Login</button>
</div>
    </div>
  </form>
</div>